

<h1 style="color:Fuchsia;"><font face="Copperplate"><font size="+5">Users</font></h1>
<hr><br>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_VV06q1harHhWwY29fxZTDy4L0aD7tsn_xA&usqp=CAU" alt="Smiley face" width="250" height="250" style="vertical-align:middle;margin:50px 0px"><br>

<font face="Brush Script MT"><font size="+1">
<% @users.each do |user| %>
    <%= link_to user.name, user %><br><br>
<% end %>
</font><br>

